@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Stretch";
    src: url("/fonts/StretchPro.woff2") format("woff2"),
      url("/fonts/StretchPro.woff") format("woff");
  }
  :root {
    --color1: #f8f8f8;
    --color2: #0d0d0d;
  }
  body {
    @apply text-preto dark:text-branco bg-branco dark:bg-preto overflow-x-hidden transition-colors duration-200 ease-linear;
  }
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Cor de fundo da barra de rolagem */
  ::-webkit-scrollbar-track {
    @apply bg-preto outline outline-1 outline-preto;
  }

  /* Cor do thumb (a alça da barra de rolagem) */
  ::-webkit-scrollbar-thumb {
    @apply bg-branco;
  }

  /* Cor do thumb quando passar o mouse por cima */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-branco bg-opacity-70;
  }

  ::selection {
    @apply bg-neutral-500 text-branco;
  }

  html {
    scrollbar-color: #f8f8f8 #0d0d0d;
  }

  .dark {
    --color1: #f8f8f8;
    --color2: #0d0d0d;
  }

  .htmlIcon {
    --color2: #F16529;
    --color1: #f8f8f8;
  }
  .htmlIconDark {
    --color2: #F16529;
    --color1: #0d0d0d;
  }

  .cssIcon {
    --color2: #29A8E0;
    --color1: #f8f8f8;
  }
  .cssIconDark {
    --color2: #29A8E0;
    --color1: #0d0d0d;
  }

  .vueIcon {
    --color2: #31475E;
    --color1: #3FB984;
  }
  .vueIconDark {
    --color2: #3FB984;
    --color1: #31475E;
  }

  .javascriptIcon {
    --color1: #F0DC55;
    --color2: #0d0d0d;
  }
  .javascriptIconDark {
    --color2: #F0DC55;
    --color1: #0d0d0d;
  }

  .githubIcon {
    --color2: #000000;
    --color1: #FFFFFF;
  }
  .githubIconDark {
    --color2: #FFFFFF;
    --color1: #000000;
  }

  .tailwindIcon {
    --color1: #29A8E0;
    --color2: #f8f8f8;
  }
  .tailwindIconDark {
    --color2: #29A8E0;
    --color1: #0d0d0d;
  }
}
