@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 255 255 255;
    --black: 0 0 0;
    --typescript: 11 126 206;
    --javascript: 248 221 68;
    --vue-1: 71 186 135;
    --vue-2: 59 79 99;
    --react: 8 217 254;
    --tailwindcss: 62 191 248;
    --html: 229 83 45;
    --css: 20 118 188;
    --git-1: 240 86 57;
    --git-2: 71 54 8;
    --photoshop-1: 0 28 37;
    --photoshop-2: 0 194 247;
  }

  .light {
    --primary-color: 20 20 20;
    --secondary-color: 250 250 250;
  }

  .dark {
    --primary-color: 250 250 250;
    --secondary-color: 20 20 20;
  }

  .typescript {
    --primary-color: 250 250 250;
    --secondary-color: 11 126 206;
  }

  .javascript {
    --primary-color: 0 0 0;
    --secondary-color: 248 221 68;
  }

  .vue {
    --primary-color: 59 79 99;
    --secondary-color: 71 186 135;
  }

  .react {
    --primary-color: 8 217 254;
    --secondary-color: 250 250 250;
  }

  .tailwindcss {
    --primary-color: 250 250 250;
    --secondary-color: 62 191 248;
  }

  .html {
    --primary-color: 250 250 250;
    --secondary-color: 229 83 45;
  }

  .css {
    --primary-color: 250 250 250;
    --secondary-color: 20 118 188;
  }

  .git {
    --primary-color: 71 54 8;
    --secondary-color: 240 86 57;
  }

  .photoshop {
    --primary-color: 0 194 247;
    --secondary-color: 0 28 37;
  }

  .figma {
    --primary-color: 255 255 255;
    --secondary-color: 0 0 0;
  }

  .github {
    --primary-color: 255 255 255;
    --secondary-color: 0 0 0;
  }

  html {
    @apply bg-secondary transition-colors duration-500 ease-in-out;
  }
}
